:root {
    //COLORS
    --color-primary: #12171E;
    --color-steel-blue: #536075;
    --color-secondary: #F6F9FC;
    --color-rust:#FF7646;
    --color-disabled:#AEB6C3;
    --color-white: #FFFFFF;
    --color-pale-green:#62FF7D;
    --color-red:#F84545;
    --color-light-blue:#A1E7FC;
    --color-yellow:#FFD460;
}
// FONTS
$font-primary: 'Eudoxus Sans', 'Poppins';
