.base-font-primary {
    font-family: $font-primary;
    // letter-spacing: -0.01em;
    font-style: normal;
}

/* ========================================================================================= */
/* TITLES */
/* ========================================================================================= */

@each $font-primary-title-level in $font-primary-title-levels{
    $nameLevel: nth($font-primary-title-level, 1);
    $valueLevel: nth($font-primary-title-level, 2);
    .o-font-primary-title{
        &-#{$nameLevel}{
            @each $font-primary-weight in $font-primary-weights{
                $nameWeight: nth($font-primary-weight, 1);
                $valeWeight: nth($font-primary-weight, 2);
                &--#{$nameWeight}{
                    @extend .base-font-primary; 
                    @include font-size($valueLevel);
                    font-weight: #{$valeWeight}
                }
            }
                
        }
    }
}

/* ========================================================================================= */
/* END TITLES */
/* ========================================================================================= */

/* ========================================================================================= */
/* BODYS */
/* ========================================================================================= */


@each $font-primary-title-level in $font-primary-body-levels{
    $nameLevel: nth($font-primary-title-level, 1);
    $valueLevel: nth($font-primary-title-level, 2);
    .o-font-primary-body{
        &-#{$nameLevel}{
            @each $font-primary-weight in $font-primary-weights{
                $nameWeight: nth($font-primary-weight, 1);
                $valeWeight: nth($font-primary-weight, 2);
                &--#{$nameWeight}{
                    @extend .base-font-primary; 
                    @include font-size($valueLevel);
                    font-weight: #{$valeWeight}
                }
            }
                
        }
    }
}


/* ========================================================================================= */
/* END BODYS */
/* ========================================================================================= */

