@each $font-size in $font-sizes{
    $nameSize: nth($font-size, 1);
    $valueSize: nth($font-size, 2);
    .text-{
        &-#{$nameSize}{
            @each $font-weight in $font-weights{
                $nameWeight: nth($font-weight, 1);
                $valeWeight: nth($font-weight, 2);
                &--#{$nameWeight}{
                    @include font-size($valueSize);
                    font-weight: #{$valeWeight}
                }
            }     
        }
    }
}

.o-type-font-primary{
    font-family: $font-primary;
}