.o-height{
    &--10{
        height: 10px;
    }
    &--12{
        height: 12px;
    }
    &--14{
        height: 14px;
    }
    &--16{
        height: 16px;
    }
    &--18{
        height: 18px;
    }
    &--20{
        height: 20px;
    }
    &--22{
        height: 22px;
    }
    &--24{
        height: 24px;
    }
    &--26{
        height: 26px;
    }
}