@mixin text-align($align){
    @if $align == 'start' {
        text-align: start;
    } @else if $align == 'center' {
        text-align: center;
    } @else if $align == 'end' {
        text-align: end;
    }
}
.o-text-align{
    &--start{
        @include text-align('start');
    }
    &--center{
        @include text-align('center')
    }
    &--end{
        @include text-align('end')
    }
}