.o-width-height{
    &--10{
        width: 10px;
        height: 10px;
    }
    &--12{
        width: 12px;
        height: 12px;
    }
    &--14{
        width: 14px;
        height: 14px;
    }
    &--16{
        width: 16px;
        height: 16px;
    }
    &--18{
        width: 18px;
        height: 18px;
    }
    &--20{
        width: 20px;
        height: 20px;
    }
    &--22{
        width: 22px;
        height: 22px;
    }
    &--24{
        width: 24px;
        height: 24px;
    }
    &--26{
        width: 26px;
        height: 26px;
    }
}