.c-button{
    background-color: #9CF1AF;
    color: #05393D;
    &__wrapper-arrow{
        background-color: #05393D;
    }
    &:hover{
        color: #9CF1AF;
        background-color: #05393D;
    }
    &__svg-path{
        fill: white;
    }
}

body {
    &:has(.c-button:hover) {
        .c-button__wrapper-arrow {
            background-color: #9CF1AF;
        }
        .c-button__svg-path {
            fill: #05393D;
        }
    }
}