.c-contact{
    padding-top: 70px;
    padding-bottom: 100px;
    @include md(){
        padding-top: 0px;
        padding-bottom: 50px;
    }
    &__wrapper-contact{
        display: grid;
        grid-template-columns: [v1] 1fr [v2] 1fr [v3];
        @include md(){
            grid-template-columns: [v1] 1fr [v2];
            gap: 40px;
        }                 
    }
    &__link{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}