.c-form{
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper-form{
        width: 50%;   
        @include md(){
            width: 100%;   
        }
    }
    &__success{
        &-left{
            border-radius: 10px 0px 0px 10px;
        }
        &-right{
            border-radius: 10px 0px 0px 10px;
        }
    }
}