.c-footer{
    padding-top: 30px;
    padding-bottom: 80px;

    &__container{
        width: 90%;
    }
    &__reservation{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    &__divider{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &__grid-nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include lg(){
            gap: 50px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
        }
    }

    &__link-reservation{
        cursor: pointer;
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid white;
        &:hover{
            background-color: white;
            color:  var(--color-blue-dark);
        }
    }

    &__link{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__wrapper-social{
        margin-top: 10px;
        display: flex;
        gap: 30px;
    }

    &__link-icon{
        margin-right: 10px;
    }

    &__a{
        &:hover{
            color:  var(--color-aqua-marine-light);
        }
    }
}