.c-header{
    &__contact{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__wrapper-contact{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    &__phone{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__logo{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 200px;
        height: auto;
    }
    &__wrapper-nav{
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include lg(){
            padding-left: 15px;
            flex-direction: column;
            align-items: start;
        }
    }

    &__nav{
        @include lg(){
            margin-top: 30px;
        }
    }
    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        @include lg(){
            gap: 25px;
            flex-direction: column;
            align-items: start;
        }
    }

    &__a{
        &:hover{
            color: black;
        }
    }

    &__btn-bg{
        padding: 10px 30px;
        border-radius: 10px;
        &:hover{
            background-color: var(--color-secondary);
            color: white;
        }
    }

    &__link-phone{
        &:hover{
            color: var(--color-primary)
        }
    }
}