.c-image-form{
    padding-top: 50px;
    padding-bottom: 100px;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include lg(){
            gap: 40px;
            flex-direction: column-reverse;
        }

        
    }
    &__wrapper-image{
        width: 50%;
        text-align: center;
        @include lg(){
            width: 100%;
        }
    }
    &__wrapper-form{
        width: 40%;
        @include lg(){
            width: 95%;
        }
    }

    &__image{
        width: 60%;
        border-radius: 10px;
        @include lg(){
            width: 95%;
        }
    }

    &__title{
        margin-bottom: 25px;
    }

    &__checks{
        display: none;
    }

    &__button{
        background-color: #bcbcbc;
        padding: 10px 45px;
        text-align: center;
        transition: 0.5s;
        background-size: 200% auto;
        font-weight: 700;
        color: white;            
        border-radius: 10px;
        border: 1px solid #858E96;
        display: block;
        &:hover{
            color: white;
            background-color: #38C976;
        }
    }
    &__notes{
        padding-top: 10px;
    }
}