.c-items-icon{
    padding-bottom: 50px;
    @include lg(){
        margin: 0px 10px 0px 10px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sm(){
            align-items: flex-start;
        }          
    }
    &__title{
        text-align: center;
        width: 60%;
        @include lg(){
            width: 80%;
        }   
        @include sm(){
            text-align: start;
            width: 100%;
         }   
    }
    &__wrapper-items{
        padding-top: 70px;
        padding-bottom: 70px;
        display: grid;
        grid-template-columns: [v1] 1fr [v2] 1fr [v3] 1fr [v4];
        grid-template-rows: [h1] 1fr [h2] 1fr [h3];
        gap: 50px;
        @include lg(){
            grid-template-columns: [v1] 1fr [v2] 1fr [v3];
            grid-template-rows: [h1] 1fr [h2] 1fr [h3] 1fr [h4];
        }   
        @include sm(){
            gap: 40px;
            grid-template-columns: [v1] 1fr [v2];
            grid-template-rows: [h1] 1fr [h2] 1fr [h3] 1fr [h4] 1fr [h5];
        }   
    }
    &__item-title{
        width: 80%;
        @include lg(){
            width: 90%;

        }
        @include sm(){
            width: 100%;
         }   
    }
    &__icon{
        height: 41px;
        width: auto;
    }
}