.c-success{
    background-color: var(--color-grey-light);
    height: 100vh;
    width: 100vw;

    &__container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrapper-message{
        width: 40%;
        padding: 40px;
        border-radius: 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include lg(){
            width: 60%;
        }
        @include md(){
            width: 90%;
        }
    }

    &__text{
        margin-bottom: 20px;
    }

    &__icon-check{
        width: 65px;
        height: 65px;
    }

    &__button{
        width: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 22px;
        padding-bottom: 22px;
        border-radius: 10px;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        &:hover{
            border: 1px solid var(--color-blue-dark);
            color: var(--color-blue-dark);

        }
    }
}