*{	
    box-sizing:border-box;
}

html, body{
    font-family: $font-primary;
    font-style: normal;
    font-size: 16px;

    margin:0;
    padding: 0;

	background: var(--color-white);
    height: auto;
}

header, section, article, nav, footer, aside, figure, form{
	display:block;
	margin:0;
	padding:0;	
}

h1, h2, h3, h4, p{
    // margin-block-start: 0em;
    // margin-block-end: 0em;
    margin: 0;
}

ol, ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
	list-style: none;
}